<%= form_for(@visit_procedure) do |f| %>
  <% if @visit_procedure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit_procedure.errors.count, "error") %> prohibited this visit_procedure from being saved:</h2>

      <ul>
      <% @visit_procedure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :visit_id %><br>
    <%= f.text_field :visit_id %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.text_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :procedure_id %><br>
    <%= f.text_field :procedure_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
