<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @wellness_stat.string %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @wellness_stat.uuid %>
</p>

<p>
  <strong>Json:</strong>
  <%= @wellness_stat.json %>
</p>

<%= link_to 'Edit', edit_wellness_stat_path(@wellness_stat) %> |
<%= link_to 'Back', wellness_stats_path %>
